.formulario {
    width: 320px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #69a7e2;
    border-radius: 12px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    background-color: #a6b4c1;
}

.formulario label {
    display: block;
    margin-bottom: 8px;
}

.formulario input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

#ver-imagen {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 10px;
    display: block;
}
